<nav class="sidenav" id="sidenav">
  <a href="/books.html">Books</a>
  <a href="/readers.html">Readers</a>
  <a href="/categories.html">Categories</a>
  <hr>
  </hr>
  <a href="/add_book.html">Add Book</a>
  <a href="/add_reader.html">Add Reader</a>
  <a href="/add_category.html">Add Category</a>
  <hr>
  </hr>
  <a href="/reader_books.html">Readers & Books</a>
  <a href="/category_books.html">Categories & Books</a>
  <hr>
  </hr>
  <a href="/reader.html">Reader</a>
  <a href="/book.html">Book</a>
  <a href="/category.html">Category</a>
</nav>