{% extends "shared/base.html" %}

{% block title %}
<title>Book</title>
{% endblock %}

{% block content %}
<div class="box">
  <img src="" id="book-image" width="52" height="80" />
  <h1><span id="book-title"></h1></span>
  (<span>Published <span id="book-publish-date"></span>)
</div>
<h4>By <span id="book-author"></span></h4>
<p id="book-description"></p>
<p>
  <a target="_blank" href='' id="isbn-10"></a> | <a target="_blank" href='' id="isbn-13"></a>
</p>

<hr />
<i>This book has been read by the following readers</i>
{% endblock %}

{% block page_script %}

<script src="/js/gridjs.umd.js"></script>
<script type="text/javascript">
  const url = new URL(window.location.href);
  const book_id = url.searchParams.get("id");

  if (book_id === null) {
    document.getElementById("main-content").innerHTML = 'To view details on a book, <a href="/books.html">first select one</a>';
  } else {
    fetch(`/book/id/${book_id}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((json) => {
        document.getElementById("book-title").innerHTML = json.title;
        document.getElementById("book-image").src = json.image;
        document.getElementById("book-author").innerHTML = json.author;
        document.getElementById("book-description").innerHTML = json.description;
        document.getElementById("book-publish-date").innerHTML = json.publish_date;

        document.getElementById("isbn-10").innerHTML = json.isbn10;
        document.getElementById("isbn-13").innerHTML = json.isbn13;

        document.getElementById("isbn-10").href = `https://hub.lexile.com/find-a-book/book-details/${json.isbn10}`;
        document.getElementById("isbn-13").href = `https://hub.lexile.com/find-a-book/book-details/${json.isbn13}`;
      });

    const grid = new gridjs.Grid({
      columns: [
        {
          name: 'ID',
          hidden: true
        },
        'Name',
        'Age',
        'Read (Self / Aloud)',
        'Read Date',
      ],
      search: false,
      sort: true,
      pagination: {
        limit: 100,
        server: {
          url: (prev, page, limit) => `${prev}?limit=${limit}&offset=${page * limit}`
        }
      },
      server: {
        url: `/book/${book_id}/readers`,
        then: data => data.results.map(entry => [
          entry.id,
          gridjs.html(`<a href='/reader.html?id=${entry.reader_id}'>${entry.reader_name}</a>`),
          entry.reader_age,
          gridjs.html(`<div class="read">${entry.read_self} / ${entry.read_aloud}</div>`),
          entry.read_date,
        ]),
        total: data => data.count
      }
    })

    grid.render(document.getElementById("wrapper"));
  }
</script>

{% endblock %}