{% extends "shared/base.html" %}

{% block title %}
<title>Categories</title>
{% endblock %}

{% block content %}
<h1>Books in <span id="category-name"></span></h1>
{% endblock %}

{% block page_script %}

<script src="/js/gridjs.umd.js"></script>
<script type="text/javascript">
  const url = new URL(window.location.href);
  const category_id = url.searchParams.get("id");

  if (category_id === null) {
    document.getElementById("main-content").innerHTML = 'To view details on a category, <a href="/categories.html">first select one</a>';
  } else {

    fetch(`/category/${category_id}`, {
      method: "GET",
    })
      .then((response) => response.json())
      .then((json) => {
        document.getElementById("category-name").innerHTML = json.name;
      });

    const grid = new gridjs.Grid({
      columns: [
        {
          name: 'ID',
          hidden: true
        },
        'Title',
      ],
      search: false,
      sort: true,
      pagination: {
        limit: 100,
        server: {
          url: (prev, page, limit) => `${prev}?limit=${limit}&offset=${page * limit}`
        }
      },
      server: {
        url: `/category/${category_id}/books`,
        then: data => data.results.map(entry => [
          entry.id,
          gridjs.html(`<div class="box"><img src="${entry.book_image}" width="52" height="80"/><span><a href='/book.html?id=${entry.book_id}'>${entry.book_title}</a></span></div>`),
        ]),
        total: data => data.count
      }
    });

    grid.render(document.getElementById("wrapper"));
  }
</script>

{% endblock %}