{% extends "shared/base.html" %}

{% block title %}
<title>Readers & Books</title>
{% endblock %}

{% block page_style %}
<style>
  * {
    box-sizing: border-box;
  }

  .box {
    display: flex;
    align-items: center;
  }

  .box img {
    margin-right: 20px;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .main {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
</style>
{% endblock %}

{% block content %}
<button id="markBookReaderSelf">Mark Read to Self</button>
<button id="markBookReaderAloud">Mark Read to Aloud</button>

<div id="book-grid"></div>
<div id="reader-grid"></div>
{% endblock %}

{% block page_script %}

<script src="/js/gridjs.umd.js"></script>
<script src="/js/selection.umd.js"></script>

<script type="text/javascript">
  const baseURL = document.location.origin;
  const gridSelector = gridjs.plugins.selection.RowSelection;
  const bookGrid = new gridjs.Grid({
    columns: [
      {
        width: "5%",
        id: 'bookSelector',
        name: 'Select',
        plugin: {
          component: gridSelector
        },
      },
      {
        name: 'ID',
        hidden: true
      },
      'Book',
      'Author',
      'ISBN',
      {
        name: 'Title',
        hidden: true
      },
    ],
    pagination: {
      limit: 100,
      server: {
        url: (prev, page, limit) => {
          var queryURL = new URL('/book/', baseURL);

          queryURL = `${queryURL.pathname}?limit=${limit}&offset=${page * limit}`;

          const queryParams = new URLSearchParams(prev.replaceAll("/book/", ""));
          var search = queryParams.get("search")

          if (search == null) {
            search = ""
          }

          queryURL = `${queryURL}&search=${search}`

          return queryURL;
        }
      }
    },
    search: {
      server: {
        url: (prev, keyword) => {
          const queryParams = new URLSearchParams(prev.replaceAll("/book/", ""));
          var queryURL = new URL('/book/', baseURL);

          queryURL = `${queryURL.pathname}`;

          if (keyword.length <= 2) {
            return queryURL;
          }

          queryURL = `${queryURL}?search=${keyword}`

          var limit = queryParams.get("limit")

          if (limit !== null) {
            queryURL = `${queryURL}&limit=${limit}`
          }

          var offset = queryParams.get("offset")

          if (offset !== null) {
            queryURL = `${queryURL}&offset=${offset}`
          }

          return queryURL;
        }
      }
    },
    server: {
      url: '/book/',
      then: data => data.results.map(book => [
        book.id,
        gridjs.html(`<div class="box"><img src="${book.image}" width="52" height="80"/><span><a href='/book.html?id=${book.id}'>${book.title}</a></span></div>`),
        gridjs.html(`${book.author}`),
        gridjs.html(`<a target="_blank" href='https://hub.lexile.com/find-a-book/book-details/${book.isbn10}'>${book.isbn10}</a> | <a target="_blank" href='https://hub.lexile.com/find-a-book/book-details/${book.isbn13}'>${book.isbn13}</a>`),
        book.title
      ]),
      total: data => data.count
    }
  })

  const selectedBookRows = {};

  bookGrid.on('rowClick', (element, row) => {
    let rowId = row._cells[1].data;
    let selected = row._cells[0].data;

    selectedBookRows[`${rowId}`] = true;

    if (!selected == false && selected != null) {
      delete selectedBookRows[`${rowId}`];
    }
  });

  bookGrid.render(document.getElementById("book-grid"));

  const readerGrid = new gridjs.Grid({
    columns: [
      {
        width: "4%",
        id: 'bookSelector',
        name: 'Select',
        plugin: {
          component: gridSelector
        },
      },
      {
        name: 'ID',
        hidden: true
      },
      'Name',
      'Age'
    ],
    search: false,
    sort: false,
    pagination: {
      limit: 100,
      server: {
        url: (prev, page, limit) => `${prev}?limit=${limit}&offset=${page * limit}`
      }
    },
    server: {
      url: '/reader/',
      then: data => data.results.map(reader => [
        reader.id,
        gridjs.html(`<a href='/reader.html?id=${reader.id}'>${reader.name}</a>`),
        reader.age,
      ]),
      total: data => data.count
    }
  });

  const selectedReaderRows = {};

  readerGrid.on('rowClick', (element, row) => {
    let rowId = row._cells[1].data;
    let selected = row._cells[0].data;

    selectedReaderRows[`${rowId}`] = true;

    if (!selected == false && selected != null) {
      delete selectedReaderRows[`${rowId}`];
    }
  });

  readerGrid.render(document.getElementById("reader-grid"));

  const markBookReaderSelf = document.getElementById("markBookReaderSelf");
  const markBookReaderAloud = document.getElementById("markBookReaderAloud");
  const markBookReader = (read_aloud, read_self) => {
    Object.keys(selectedReaderRows).forEach(reader_id => {
      Object.keys(selectedBookRows).forEach(book_id => {
        console.debug(reader_id, book_id);

        fetch(`/link/reader`, {
          method: "POST",
          body: JSON.stringify({
            book_id,
            reader_id,
            read_aloud,
            read_self,

          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
          .then((response) => response.json())
          .then((json) => {
            if (json["ok"]) {
              console.debug(reader_id, book_id, "ok");
              return;
            }
            alert("Failed to mark book reader");
          });
      });

    });
  };

  markBookReaderSelf.onclick = (e) => {
    e.preventDefault();
    markBookReader(false, true);
  }

  markBookReaderAloud.onclick = (e) => {
    e.preventDefault();
    markBookReader(true, false);
  }

</script>
{% endblock %}